body {
  padding-top: 70px;
}

.jumbotron {
  color: #1ac1dd;
  background: #ecf0f1;
}

.navbar-inverse {
  background: #1ac1dd;
}
.navbar-inverse .navbar-nav li a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}
